*{
    margin: 0;
    padding: 0%;
    font-family: 'Lato', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    
    
}
.nav-bar{
    width: 100%;
    height: 150px;
    background-color: black;
    /* background-color: rgb(27, 24, 24); */
    position: fixed;   
    display: flex;
}
.nav-logo{
    width: 150px;
    height: 150px;
    margin-left: 0;
}
.nav-logo img{
    width: 150px;
    height: 150px;
}
.logo-head{
    width: 300px;
    height: 80px;
    margin: 50px 0px 0px 30px;
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Victor Mono', monospace;
}
.nav-content{
    width: 500px;
    margin-top: 80px;
    margin-left: 330px;
}
.nav-content li{
    list-style: none;
    display: inline;
}
.nav-content a{
    text-decoration: none;
    color: #ffffff;
    font-size: 27px;
    font-weight: 500;
    margin-left: 25px;
}
.nav-content a:hover{
    color: rgb(232, 226, 115);
    
}
.secp{
    width: 100%;
    margin-top: 170px;
    color: rgb(213, 188, 21);
}
.home{
    
   
    padding: 70px;
   

    
}
.title{
    margin-top: 20px;
    height: 56px;
    font-weight: 700;
    margin-bottom: 80px;
    
    font-family: 'Pacifico', cursive;
}
.home p{
    font-size: 20px;
    padding: 10px;
    text-shadow: 2px 2px 5px rgb(31, 25, 25);
    color: #ffffff;
    font-family: 'Courgette', cursive;
}
.homeparent{
    height: 50rem;
    display: flex;
    background: url(./imagess/bg-img.jpeg);
   
}
.videohome{
    margin-top: 12%;
    margin-right: 20px;
    
}
.heading{
    text-align: center;
    margin-top: 70px;
    font-family: 'Sriracha', cursive;
    font-weight: 500;
    color:  rgb(139, 35, 35);
}
.menuimg{
    width: 100%;
    margin-top: 5px;
    text-align: center;
    justify-content: center;

}
.cards{
    width: 95%;
    padding-left: 30px;
    padding-right: 30px;
}
.pcard1{
    display: flex;
    justify-content: space-between;
}
.c1{
    padding-top: 100px;
    
}
.img1{
    border-radius: 50%;
}
.p-order{
    margin-top: 10px;
    display: flex;
}
.form1{
    margin-top: 80px;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
}
a{
    text-decoration: none;
}
